header{
    background-color: #060c4c;
    color: white;
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;
    border-radius: 5px;
}

.conteinerHello{
    
    div:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    div:last-child{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        transform: translateY(50%);
    }
}