.articleCards{
    background-color: aquamarine;
    color: darkblue;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;

    h2{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    span{
        font-size: 4rem;
    }
}